* {
  margin: 0;
}
body {
  background-color: black;
  color: white;
  list-style: none;
}
ul {
  list-style: none;
  padding: 0;
}
#header {
  margin-top: 100px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
}
button {
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font-size: 14px;
  background-color: hsl(209, 68%, 20%);
  color: white;
  cursor: pointer;
  &:hover {
    background-color: hsl(209, 68%, 25%);
  }
}
#loading-screen {
  margin-top: 40px;
}

@media (width<=992px) {
  #header {
    h1 {
      font-size: 40px;
    }
  }
}

@media (width<=768px) {
  #header {
    h1 {
      font-size: 30px;
    }
  }
  #loading-screen {
    h2 {
      font-size: 20px;
    }
  }
}

@media (width<=556px) {
  #header {
    align-self: flex-start;
    h1 {
      font-size: 25px;
    }
  }
}

@media (width<=425px) {
  #header {
    h1 {
      font-size: 20px;
    }
  }
}
