.navigation {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  padding: 1rem 2rem;
  background-color: rgb(5, 16, 26);
  width: 900px;
  border-top: none;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  font-size: 20px;
  a {
    text-decoration: none;
    color: white;
    outline: none;
  }

  a:hover {
    color: rgb(217, 217, 165);
  }
  a.active {
    color: rgb(187, 147, 36) !important;
  }
}
#search {
  height: 40px;
  width: 300px;
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid rgb(187, 147, 36);
  box-sizing: border-box;
  font-size: 20px;
  padding: 15px;
}

#logo {
  cursor: pointer;
  height: 45px;
  width: 45px;
}

@media (width<=992px) {
  .navigation {
    width: 650px;
  }
}

@media (width<=768px) {
  .navigation {
    width: 550px;
  }
  #search {
    font-size: 16px;
    height: 30px;
    width: 250px;
    padding: 10px;
  }

  #logo {
    height: 40px;
    width: 40px;
  }
}

@media (width<=556px) {
  .navigation {
    width: 420px;
 
  }
  #search {
    font-size: 14px;
    width: 200px;
  }

  #logo {
    height: 40px;
    width: 40px;
  }
}

@media (width<=425px) {
  .navigation {
    width: 300px;
  }
  #search {
    font-size: 12px;
    height: 30px;
    width: 160px;
  }

  #logo {
    height: 35px;
    width: 35px;
  }
}
/* 
@media (height<=650px) {
  .modalOverlay {
    align-items: center;
  }
} */
